<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>Blog</h1>
        <h2>Derniers billets du blog :</h2>
    </div>
</header>

<section class="page-section justify-content-center" id="postsList">
    <div class="container col-sm-7 col-md-7 col-lg-6 col-xl-5 mb-3">
        {% for item in posts %}
            {% if item.status == "public" or role == "admin" %}
                {% if not loop.first %}
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                {% endif %}
                <div class="container border pt-4" role="button" onclick="window.location.href='./blog/{{ item.id }}'">
                    <h3 class="text-center"> 
                        {% if item.status != "public" %}
                            <i class="fa-solid fa-eye-slash"></i>
                        {% endif %}
                        {{ item.title }} 
                    </h3>
                    <p><em>Dernière modification le {{ item.last_update_fr }}</em></p>
                    <p> {{ item.header }}... </p>
                    <p><em><a href="./blog/{{ item.id }}">Voir plus</a></em></p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container col-sm-7 col-md-7 col-lg-6 col-xl-5">
        Page : <ul class="pagination">
        {% for i in 1..pageAmount %}
            <li class="page-item{% if i == currentPage %} active{% endif %}">
                <a class="page-link {% if i == currentPage %} disabled{% endif %}" {% if i != currentPage %} href="{{ baseFolder }}blog/page/{{ i }}" {% endif %}>
                    {{ i }}
                </a>
            </li>
        {% endfor %}

    </div>
</section>
