<header class="masthead" id="list">

    <div class="container col-sm-7 col-md-7 col-lg-6 col-xl-5">
        {% if feedback == "comment added" %}
                
            <div class="alert alert-warning" role="alert">
                Commentaire en attente de validation par un administrateur.
            </div>

        {% endif %}

        <div class="blogpost">
            <h1>
                {% if post.status != "public" %}
                    <i class="fa-solid fa-eye-slash"></i>
                {% endif %}
                {{ post.title }}
            </h1>
            <p>Écrit par <strong>{{ author.first_name }} {{ author.name }} </strong>
                {% if post.publication_date_fr == post.last_update_fr %}
                    <em>le {{ post.last_update_fr }}</em>
                {% else %}
                    <em>le {{ post.publication_date_fr }}</em> - <em>mis à jour le {{ post.last_update_fr }}</em>
                {% endif %}
            </p>

            <p><em>{{ post.header }}</em></p>

            <p>{{ post.content }}</p>
        </div>

        {% if role == "admin" %}
            <a class="btn btn-secondary mb-3" href="{{ baseFolder }}admin/post/{{ post.id }}"><i class="fas fa-edit me-2"></i>Modifier</a>
        {% endif %}

        <h2>Commentaires</h2>

        {% if user == "visiteur" %}         
        <div class="alert alert-warning" role="alert">
            Vous devez être connecté pour poster un commentaire.
        </div>
        {% else %}         
            <form method="post" class="mb-3">
                <div class="mb-3">
                    <label for="comment" class="form-label">Ajouter un commentaire</label><br />
                    <textarea id="comment" name="comment" class="form-control"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary"><i class="fas fa-comment me-2"></i>Ajouter</button>
                </div>
            </form>
        {% endif %}

        {% for item in comments %}
            {% if item.status == "public" or role == "admin" or item.id_user == id_user %}
                <div>
                    {% if role == "admin" %} 
                        {% if item.status == "public" %} 
                            <i class="fa-solid fa-check me-2"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark me-2"></i>
                        {% endif %}
                    {% endif %}
                    <i class="fas fa-comment-alt me-2"></i>
                    

                    <strong class="{% if item.id_user == id_user %}text-danger{% endif %}"> {{ item.first_name }} </strong>
                    <em>le {{ item.date_fr }} </em>
                    {% if role == "admin" and item.status != "public" %} 
                        <span class="badge badge-secondary">
                            <a href="admin/comment/validate/{{ item.id }}"><i class="fa-solid fa-check ms-2 me-2"></i> valider</a>
                        </span>
                    {% endif %}

                    {% if role != "admin" and item.id_user == id_user and item.status != "public" %} 
                        <span class="text-info">
                            - en attente de validation
                        </span>
                    {% endif %}

                </div>
                <div class="ms-3 mb-4"> {{ item.content }} </div>
            {% endif %}
        {% endfor %}

    </div>

</header>

