{% include 'header.twig' %}

<header class="masthead" id="list">

    <div class="container">
        {% if feedback == "comment added" %}
                
            <div class="alert alert-success" role="alert">
                Commentaire ajouté avec succès.
            </div>

        {% endif %}

        <div class="blogpost">
            <h1>{{ post.title }}</h1>
            {% if post.publication_date_fr == post.last_update_fr %}
                <p><em>le {{ post.last_update_fr }}</em></p>
            {% else %}
                <p><em>le {{ post.publication_date_fr }}</em> - <em>mis à jour le {{ post.last_update_fr }}</em></p>
            {% endif %}

            <p>{{ post.content }}</p>
        </div>

        {% if role == "admin" %}
            <a class="btn btn-secondary mb-3" href="{{ baseFolder }}admin/post/{{ post.id }}"><i class="fas fa-edit me-2"></i>Modifier</a>
        {% endif %}

        <h2>Commentaires</h2>

        {% if user == "visiteur" %}         
        <div class="alert alert-warning" role="alert">
            Vous devez être connecté pour poster un commentaire.
        </div>
        {% else %}         
            <form method="post" class="mb-3">
                <div class="mb-3">
                    <label for="comment" class="form-label">Ajouter un commentaire</label><br />
                    <textarea id="comment" name="comment" class="form-control"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary"><i class="fas fa-comment me-2"></i>Ajouter</button>
                </div>
            </form>
        {% endif %}

        {% for item in comments %}
            {% if item.status == "public" or role == "admin" %}
                <div>
                    {% if role == "admin" %} 
                        {% if item.status == "public" %} 
                            <i class="fa-solid fa-check me-2"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark me-2"></i>
                        {% endif %}
                    {% endif %}
                    <i class="fas fa-comment-alt me-2"></i>
                    <strong> {{ item.first_name }} </strong>
                    <em>le {{ item.date_fr }} </em>
                    
                </div>
                <div class="ms-3 mb-4"> {{ item.content }} </div>
            {% endif %}
        {% endfor %}

    </div>

</header>

{% include 'footer.twig' %}

