{% include 'header.twig' %}

<header class="masthead" id="list">

    <div class="container">
        {% if feedback == "comment added" %}
                
            <div class="alert alert-success" role="alert">
                Commentaire ajouté avec succès.
            </div>

        {% endif %}

        <div class="news">
            <h1>{{ post.title }}</h1>
            <p><em>le {{ post.last_update_fr }}</em></p>
            <p>{{ post.content }}</p>
        </div>

        {% if user != "visiteur" %}
            
            <h2>Commentaires</h2>
            <form method="post" class="mb-3">
                <div class="mb-3">
                    <label for="comment" class="form-label">Ajouter un commentaire</label><br />
                    <textarea id="comment" name="comment" class="form-control"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        {% endif %}

        {% for item in comments %}
            <div><strong> {{ item.first_name }} </strong> <em>le {{ item.date_fr }} </em></div>
            <div class="ms-3 mb-4"> {{ item.content }} </div>
        {% endfor %}

    </div>

</header>

{% include 'footer.twig' %}

