<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <h1 class="text-uppercase mb-5">Modération des utilisateurs</h1>

        <form method="post" class="mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell d-sm-none d-md-table-cell" scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th class="d-none d-sm-table-cell d-sm-none d-md-table-cell" scope="col">Prénom</th>
                        <th class="d-none d-sm-table-cell d-sm-none d-md-table-cell" scope="col">email</th>
                        <th scope="col">Rôle</th>
                        <th class="d-none d-sm-table-cell d-sm-none d-md-table-cell" scope="col">status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="d-none d-sm-table-cell d-sm-none d-md-table-cell">{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td class="d-none d-sm-table-cell d-sm-none d-md-table-cell">{{ user.first_name }}</td>
                            <td class="d-none d-sm-table-cell d-sm-none d-md-table-cell">{{ user.email }}</td>
                            <td>
                                <select name="role-{{ user.id }}" {% if (user.id == 1)  or (user.id == id_user) %} disabled {% endif %}>
                                    <option value="reader" {% if user.role == 'reader' %} selected {% endif %} >Lecteur</option>
                                    <option value="admin" {% if user.role == 'admin' %} selected {% endif %} >Admin</option>
                                </select>
                            </td>
                            <td class="d-none d-sm-table-cell d-sm-none d-md-table-cell">{{ user.status }}</td>
                            <td><a class="link-danger" href="{{ user.id }}"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                
                </tbody>
            </table>
            <button class="btn btn-secondary mb-3"><i class="fas fa-edit me-2"></i>Modifier</button>

        </form>
    </div>
</header>